<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="container">
		<header class="major">
			<h2>Tu Cesta Personal</h2>
			<p>Aquí podrás comparar las características de tus productos.</p>
		</header>
		<div class="row 500%">
			<div class="4u 12u$(medium)">
				<section class="box">
					<h3>Producto 1</h3>
					<i class="icon big rounded color1 fa-cloud"></i>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi aliquid.</p>
				</section>
			</div>
		</div>
		<p style="text-align:right">ver mas</p>      <p>Search icon: <span class="glyphicon glyphicon-search"></span></p>
		<p>Search icon as a link:
			<a href="#">
				<span class="glyphicon glyphicon-search"></span>
			</a>
		</p>
		<p>Search icon on a button:
			<button type="button" class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-search"></span> Search
			</button>
		</p>
		<p>Search icon on a styled link button:
			<a href="#" class="btn btn-info btn-lg">
				<span class="glyphicon glyphicon-search"></span> Search
			</a>
		</p>
		<h3 style="text-align:left"> Tendencias</h3>
		<div class="row 150%">
			<div class="4u 12u$(medium)">
				<section class="box">
					<i class="icon big rounded color1 fa-cloud"></i>
					<h3>Producto 1</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi aliquid.</p>
				</section>
			</div>
			<div class="4u 12u$(medium)">
				<section class="box">
					<i class="icon big rounded color9 fa-desktop"></i>
					<h3>Producto 2</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ullam consequatur repellat debitis maxime.</p>
				</section>
			</div>
			<div class="4u$ 12u$(medium)">
				<section class="box">
					<i class="icon big rounded color6 fa-rocket"></i>
					<h3>Producto 3</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eaque eveniet, nesciunt molestias. Ipsam, voluptate vero.</p>
				</section>
			</div>
		</div>
		<p style="text-align:right">ver mas</p>
	</div>
</section>


