<!-- One -->
<section id="one" class="wrapper style1 special">

	<h2 ng-show="notLogged()">Inicia sesión para disponer de una cesta</h2>
	<p ng-show="notLogged()">¿No tienes una cuenta? <a href="#/sign"> <u>Registrate</u></a></p>

	<div class="container" ng-hide="notLogged()">

		<header class="major">
			<h2>Tu Cesta Personal</h2>
			<p>Aquí podrás comparar las características de tus productos.</p>
		</header>

		<div ng-repeat="c in $scope.cesta">
			<button ng-if="$index == 2" id="mas" class="button" type="button" onclick="ocultarId('mas'); mostrarInlineId('menos'); mostrarBlockClass('oculto');">Ver mas</button>
			<h3 class="migas">
				<a href="/">Home</a>
				<span> > </span>
				<a href="/">{{c.categoria}}</a>
				<span> > </span>
				<a href="#/producto">{{c.nombre}}</a>
			</h3>
			<div ng-attr-class="{{($index > 1) && 'oculto row 150%' || 'row 150%' }}">
				<div class="4u 12u$(medium)" ng-repeat="p in products | filter:{ categoria: c }">
					<section class="box">
						<img src="{{p.imagen}}"/>
						<h2>{{p.nombre}}</h2>
						<h3>{{p.subtitulo}}</h3>
						<p>{{p.descripcion}}</p>
					</section>
				</div>
			</div>
		</div>
		<button id="menos" class="button" type="button" onclick="ocultarId('menos'); mostrarInlineId('mas'); ocultarClass('oculto');" style="display:none">Ver menos</button>
	</div>
</section>


