<!-- One -->
<section id="one" class="wrapper style1 special">

	<h2 ng-show="notLogged()">Inicia sesión para disponer de una cesta</h2>
	<p ng-show="notLogged()">¿No tienes una cuenta? <a href="#/sign"> <u>Registrate</u></a></p>

	<div class="container" ng-hide="notLogged()">

		<header class="major">
			<h2>Tu Cesta Personal</h2>
			<p>Aquí podrás comparar las características de tus productos.</p>
		</header>

		<div ng-app="" ng-init="visibles=[
			{nombre:'Producto1',
			 categoria:'Mas popular',
			 subtitulo:'Este es el producto 1',
			 descripcion:'Este es el producto 1 y es muy bonito bla bla bla\nY esto es otra linea',
			 imagen:'images/profile_placeholder.gif',
			 clase:''},
			{nombre:'Producto2',
			 categoria:'Mas popular',
			 subtitulo:'Este es el producto 2',
			 descripcion:'Este es el producto 2 y es muy bonito bla bla bla',
			 imagen:'images/pic08.jpg',
			 clase:''}]">
		</div>
		<div ng-app="" ng-init="ocultos=[
			{nombre:'Producto3',
			 categoria:'Mas popular',
			 subtitulo:'Este es el producto 3',
			 descripcion:'Este es el producto 3 y es muy bonito bla bla bla\nY esto es otra linea',
			 imagen:'images/profile_placeholder.gif',
			 clase:''},
			{nombre:'Producto4',
			 categoria:'Mas popular',
			 subtitulo:'Este es el producto 4',
			 descripcion:'Este es el producto 4 y es muy bonito bla bla bla',
			 imagen:'images/pic08.jpg',
			 clase:''}]">
		</div>

		<div ng-repeat="x in visibles">
			<h3 class="migas">
				<a href="/">Home</a>
				<span> > </span>
				<a href="/">{{x.categoria}}</a>
				<span> > </span>
				<a href="#/producto?prod={{x.nombre}}">{{x.nombre}}</a>
			</h3>
			<section class="box">
				<h2>{{x.nombre}}</h2>
				<h3>{{x.subtitulo}}</h3>
				<div class="6u 12u$(medium)">
					<img class="image fit" src="{{x.imagen}}" />
				</div>
				<div class="6u 12u$(medium)">
					<p>{{x.descripcion}}</p>
				</div>
			</section>
		</div>

		<button id="mas" class="button" type="button" onclick="ocultarId('mas'); mostrarInlineId('menos'); mostrarBlockClass('oculto');">Ver mas</button>

		<div ng-repeat="x in ocultos">
			<h3 class="migas oculto">
				<a href="/">Home</a>
				<span> > </span>
				<a href="/">{{x.categoria}}</a>
				<span> > </span>
				<a href="#/producto?prod={{x.nombre}}">{{x.nombre}}</a>
			</h3>
			<section class="box oculto">
				<h2>{{x.nombre}}</h2>
				<h3>{{x.subtitulo}}</h3>
				<div class="6u 12u$(medium)">
					<img class="image fit" src="{{x.imagen}}" />
				</div>
				<div class="6u 12u$(medium)">
					<p>{{x.descripcion}}</p>
				</div>
			</section>
		</div>

		<button id="menos" class="button" type="button" onclick="ocultarId('menos'); mostrarInlineId('mas'); ocultarClass('oculto');" style="display:none">Ver menos</button>
	</div>
</section>


