<section id="one" class="wrapper style1 special">
    <div class="container">
        <header class="major">
            <h2>Amazop</h2>
            <p>Your Amazing Shopping WebSite</p>
        </header>
        <div class="row 150%">

            <div class="6u 12u$(medium)">
                <a href="/prod">
                    <section class="box">
                        <i class="icon big rounded color1 fa-cloud"></i>
                        <h3>Producto 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi aliquid.</p>
                        <h3>{{$scope.prod1.name}}</h3>

                    </section>
                </a>
            </div>
            <div class="6u 12u$(medium)">
                <a href="/prod">
                <section class="box">
                    <i class="icon big rounded color9 fa-desktop"></i>
                    <h3>Producto 2</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ullam consequatur repellat debitis maxime.</p>
                </section>
                </a>
            </div>
        </div>
    </div>

</section>


