<section id="one" class="wrapper style1 special">
    <div class="container">
        <header class="major">
            <h2>Amazop</h2>
            <p>Your Amazing Shopping WebSite</p>
        </header>
        <div class="row 150%">

            <div class="6u 12u$(medium)">
                <form class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="srch-term1" id="srch-term1" ng-model="busqueda1">
					<span class="input-group-btn caja-lupa">
						<button type="submit" class="btn btn-default boton-lupa" ng-click="Buscar1()">
                            <span class="glyphicon glyphicon-search lupa"></span>
                        </button>
					</span>
                </form>
                <a href="/prod">
                    <section class="box">
                        <i class="icon big rounded color1 fa-cloud"></i>
                        <h3>Producto 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi aliquid.</p>
                    </section>
                </a>
            </div>
            <div class="6u 12u$(medium)">
                <form class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="srch-term2" id="srch-term2" ng-model="busqueda2">
					<span class="input-group-btn caja-lupa">
						<button type="submit" class="btn btn-default boton-lupa" ng-click="Buscar2()">
                            <span class="glyphicon glyphicon-search lupa"></span>
                        </button>
					</span>
                </form>
                <a href="/prod">
                <section class="box">
                    <i class="icon big rounded color9 fa-desktop"></i>
                    <h3>Producto 2</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ullam consequatur repellat debitis maxime.</p>
                </section>
                </a>
            </div>
        </div>
    </div>

</section>


