<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="container">
		<header class="major">
			<h2>Amazop</h2>
			<p>Your Amazing Shopping WebSite</p>
		</header>
		<div ng-repeat="c in categorias">
			<button ng-if="$index == 2" id="mas" class="button" type="button" onclick="ocultarId('mas'); mostrarInlineId('menos'); mostrarBlockClass('oculto');">Ver mas</button>
			<h3 ng-attr-class="{{($index > 1) && 'oculto migas' || 'migas' }}">
				<a href="/">{{c}}</a>
			</h3>
			<div ng-attr-class="{{($index > 1) && 'oculto row 150%' || 'row 150%' }}">
				<div class="4u 12u$(medium)" ng-repeat="p in products | filter:{ categoria: c }">
					<section class="box">
						<img src="{{p.imagen}}"/>
						<h2>{{p.nombre}}</h2>
						<h3>{{p.subtitulo}}</h3>
						<p style="text-align:justify">{{p.descripcion}}</p>
					</section>
				</div>
			</div>
		</div>
		<button id="menos" class="button" type="button" onclick="ocultarId('menos'); mostrarInlineId('mas'); ocultarClass('oculto');" style="display:none">Ver menos</button>
	</div>
</section>


