<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="container">
		<header class="major">
			<h2>Amazop</h2>
			<p>Your Amazing Shopping WebSite</p>
		</header>
		<div ng-repeat="c in categorias">
			<button ng-if="$index == 2" id="mas" class="button" type="button" onclick="ocultarId('mas'); mostrarInlineId('menos'); mostrarBlockClass('oculto');">Ver mas</button>
			<h3 ng-attr-class="{{($index > 1) && 'oculto migas' || 'migas' }}">{{c}}</h3>
			<div style="overflow:hidden" ng-attr-class="{{($index > 1) && 'oculto row 150%' || 'row 150%' }}">
				<div style="height:inherit" class="4u 12u$(medium)" ng-repeat="p in products | filter:{ categoria: c }">
					<section style="height:inherit" class="box">
						<img class="img-rounded center-block" src="{{p.imagen}}"/>
						<h2>{{p.nombre}}</h2>
						<h3>{{p.subtitulo}}</h3>
						<p>{{p.descripcion}}</p>
						<button class="button" ng-hide="notLogged()" ng-controller="CestaController" ng-click="add(p)">Añadir a la cesta</button>
					</section>
				</div>
			</div>
		</div>
		<button id="menos" class="button" type="button" onclick="ocultarId('menos'); mostrarInlineId('mas'); ocultarClass('oculto');">Ver menos</button>
	</div>
</section>


