<div>
<!-- Three -->
<section id="three" class="wrapper style3 special">
    <div class="container">
        <header class="major">
            <h2>Una cuenta. Todo Amazop</h2>
            <p>Inicia sesión para acceder</p>
        </header>
    </div>
    <div class="container 50%">
        <form role="form" name="form">
            <div class="row uniform">
                <div class="2u"></div>
                <div class="8u 12u$(small) input-group">
                    <!--<span class="input-group-addon glyphicon glyphicon-user"></span>-->
                    <input name="usuario" class="form-control" id="user" value="" placeholder="Usuario" type="text" ng-model="user.username" required>
                </div>
                <div class="2u$"></div>
                <div class="2u"></div>
                <div class="8u 12u$(small) input-group">
                    <!--<span class="input-group-addon glyphicon glyphicon-lock"></span>-->
                    <input name="contraseña" class="form-control" id="password" value="" placeholder="Contraseña" type="password" ng-model="user.pass" required>
                </div>
                <div class="2u$"></div>
                <div class="12u$"></div>
                <div class="12u$">
                    <ul class="actions">
                        <li><input value="Iniciar Sesión" class="special big" type="submit" ng-click="login(user)"></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <p>¿No tienes una cuenta? <a href="/sign"> <u>Registrate</u></a></p>

</section>
</div>