<div>
<!-- Three -->
<section id="three" class="wrapper style3 special">
    <div class="container">
        <header class="major">
            <h2>Una cuenta. Todo Amazop</h2>
            <p>Inicia sesión para acceder</p>
        </header>
    </div>
    <div class="container 50%">
        <form action="#" method="post" ng-submit="logInController">
            <div class="row uniform">
                <div class="2u"></div>
                <div class="8u 12u$(small)">
                    <input name="email" id="name" value="" placeholder="Email" type="text" ng-model="email">
                </div>
                <div class="2u$"></div>
                <div class="2u"></div>
                <div class="8u 12u$(small)">
                    <input name="contraseña" id="password" value="" placeholder="Contraseña" type="text" ng-model="pass">
                </div>
                <div class="2u$"></div>
                <div class="12u$"></div>
                <div class="12u$">
                    <ul class="actions">
                        <li><input value="Iniciar sesión" class="special big" type="submit"></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</section>
</div>