<!-- Cambiar información usuario -->
<section id="three" class="wrapper style3 special">
<div class="panel panel-default col-xs-6 col-md-offset-3">
	<div class="panel-heading row">
		<h4>Alias</h4>
	</div>
	<div class="panel-body">
		<p>{{ info.username }}</p>
	</div>
	<div class="panel-heading row">
		<h4>Nombre</h4>
	</div>
	<div class="panel-body">
		<p>{{ info.name_ }}</p>
	</div>
	<div class="panel-heading row">
		<h4>Apellidos</h4>
	</div>
	<div class="panel-body">
		<p>{{ info.apellido }}</p>
	</div>
	<div class="panel-heading row">
		<h4>Email</h4>
	</div>
	<div class="panel-body">
		<p>{{ info.email }}</p>
	</div>
	<div class="panel-heading row">
		<h4>Teléfono</h4>
	</div>
	<div class="panel-body">
		<p>{{ info.email }}</p>
	</div>
	<div class="panel-heading row">
		<h4>Año de nacimiento</h4>
	</div>
	<div class="panel-body">
		<p>{{ info.agno }}</p>
	</div>
</div>
</section>
