<!-- Imagen y sinposis -->
<div class="media col-md-offset-2 col-xs-8">
	<div class="pull-left">
		<img src="{{series.Poster}}"></img>
	</div>				
	<div class="media-body" >
		<ul class="nav nav-pills" style="margin-botton: 10px">
			<li ng-class="{active:isSelected(1)}">
				<a  ng-click="selectTab(1)">Sinposis</a>
			</li>
			<li ng-class="{active:isSelected(2)}">
				<a ng-click="selectTab(2)">Cast</a>
			</li>
			<li ng-class="{active:isSelected(3)}">
			<a  ng-click="selectTab(3)">Detalles</a>
			</li>
		</ul>
		<div class="panel panel-default list-group-item" ng-show="isSelected(1)">
			<p align="justify">{{series.Plot}} </p>
		</div>
		<div class="panel panel-default list-group-item" ng-show="isSelected(2)">
			<p>{{series.Actors}}</p>
		</div>
		<div class="panel panel-default list-group-item" ng-show="isSelected(3)">
			<ul>
				<li>Emisión: {{series.Released}}</li>
				<li>Genero: {{series.Genre}}</li>
				<li>Director: {{series.Director}}</li>
				<li>País: {{series.Country}}</li>
				<li>Nota: {{series.imdbRating}}</li>
				<li>Idioma: {{series.Language}}</li>
			</ul>
		</div>
		
	</div>
</div>
<!-- Date picker -->
<div class="row panel panel-default widget col-md-offset-3 col-xs-6" style="margin-top: 25px">
	<div class="panel-heading row">
		<h3 class="panel-title">Periodo de comentarios</h3>			
	</div>
	<div class="col-md-5" style="margin-top: 10px">
		<h4>Fecha Inicio</h4>
		<p class="input-group">
			<input type="text" class="form-control" datepicker-popup="{{ format }}" ng-model="dt_1" is-open="opened_1" show-button-bar="false" max-date="maxDate_1" datepicker-options="dateOptions" ng-required="true" close-text="Cerrar" readonly="readonly"/>
            <span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open_1($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
    </div>
    <div class="col-md-5 col-md-offset-2" style="margin-top: 10px">
		<h4>Fecha final</h4>
		<p class="input-group">
			<input type="text" class="form-control" datepicker-popup="{{ format }}" ng-model="dt_2" is-open="opened_2" show-button-bar="false" min-date="dt_1"  max-date="maxDate_1" datepicker-options="dateOptions" ng-required="true" close-text="Cerrar" readonly="readonly"/>
            <span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="open_2($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
    </div>
    <div class="col-md-offset-8 col-md-4">
		<button type="submit" class="btn btn-lg btn-primary btn-block" style="margin-bottom: 10px" ng-click="mostrarComentarios()">Ver comentarios</button>
	</div>
</div>
<!-- Añadir comentario-->
<div class="panel panel-default widget col-xs-6 col-md-offset-3" style="margin-top: 25px">
	<div class="panel-heading row">
		<h4>Escriba su comentario</h4>		
	</div>
	<form role="form" name="form" novalidate>
		<div class="form-horizontal">
			<div class="input-group col-xs-6" style="margin-top: 10px">	
				<textarea type="text" class="form-control" rows="1" placeholder="Titulo" ng-model="newComment.titulo" required></textarea>	
			</div>
			<div class="input-group col-xs-12" style="margin-bottom: 10px; margin-top: 10px">	
				<textarea type="text" class="form-control" rows="3" placeholder="Escriba su comentario" ng-model="newComment.texto" required></textarea>		
			</div>
			<div class="col-md-offset-8 col-md-4">
				<button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="form.$invalid" style="margin-bottom: 10px" ng-click="agregarComentario(newComment)">Enviar</button>
			</div>
		</div>
	</form>
</div>
<!-- Comentarios -->
<div class="panel panel-default widget col-md-offset-3 col-xs-6" style="margin-top: 25px">
	<div class="panel-heading row">
		<h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span>Recent Comments</h3>			
	</div>
	<div class="col-md-offset-6 col-md-6" style="margin-top: 10px">
		<button type="submit" class="btn btn-lg btn-primary btn-block" style="margin-bottom: 10px" ng-click="mostrarTodosComentarios()">Ver todos los comentarios</button>
	</div>
	<div  ng-repeat="com in comment"  class="panel-body">
		<ul class="list-group">
			<li class="list-group-item">
				<div>
					<h4>{{com.titulo}}</h4>
					<h6>{{com.usuario}}, {{com.fecha}} </h6>
					<div class="panel-default panel">
						<p align="justify" style="margin: 10px"> {{com.texto}}</p>
					</div>
				</div>
				<div class="action" ng-show="modifyComment(com)">
					<button type="button" class="btn btn-primary btn-xs" title="Edit" ng-click="mostrar = !mostrar">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
					<button type="button" class="btn btn-danger btn-xs" title="Delete" ng-click="deleteComment(com)">
                    	<span class="glyphicon glyphicon-trash"></span>
                    </button>
					<div class="panel panel-default list-group-item" ng-show="mostrar" role="mForm" name="mForm" novalidate>
						<div class="form-horizontal">
							<div class="input-group col-xs-12" style="margin-bottom: 10px; margin-top: 10px">
								<h4>Modifique su comentario</h4>		
							</div>
							<div class="input-group col-xs-6" style="margin-top: 10px">	
								<textarea type="text" class="form-control" rows="1" placeholder="Titulo" ng-model="modificar.titulo" required></textarea>	
							</div>
							<div class="input-group col-xs-12" style="margin-bottom: 10px; margin-top: 10px">	
								<textarea type="text" class="form-control" rows="3" placeholder="Escriba su comentario" ng-model="modificar.texto" required></textarea>		
							</div>
							<div class="col-md-offset-8 col-md-4">
								<button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="mForm.$invalid" style="margin-bottom: 10px" ng-click="modificarComentario(modificar, com)">Modificar</button>
							</div>
							<br/>
							<br/>
							<br/>
						</div>
					</div>                    
               </div>
			</li>
		</ul>			
	</div>
</div>
