<div class="panel panel-default col-xs-6 col-md-offset-3">
	<h2>Iniciar sesión</h2>
	<form role="form" name="form" novalidate>
		<div class="form-horizontal">
			<!-- nombre -->
			<div class="input-group" style="margin-top: 10px">
				<span class="input-group-addon"><span class="glyphicon glyphicon-user" ></span></span>
				<input type="text" class="form-control" placeholder="Alias" name="uName" ng-model="user.username" required />					
			</div>
			<div ng-show="form.uName.$invalid">
				<span ng-show="form.uName.$error.required">	Es necesario un alias.</span>
			</div>
			<!-- pass -->
			<div class="input-group" style="margin-top: 10px">
				<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
				<input type="password" class="form-control" placeholder="Repita su contraseña" name="uRepass" ng-model="user.pass" required />		
			</div>
			<div ng-show="form.uRepass.$invalid">
				<span ng-show="form.uRepass.$error.required">	Escriba su contraseña.</span>
			</div>
			<button type="submit" class="btn btn-lg btn-primary btn-block" style="margin-top: 10px"  ng-disabled="form.$invalid" ng-click="login(user)">Iniciar sesión</button>
			<br/>
		</div>
	</form>
</div>
