<!-- Cambiar información usuario -->
<div class="panel panel-default col-xs-6 col-md-offset-3">
	<h3>Opciones</h3>
</div>
<!-- Cambiar nombre -->
<div class="panel panel-default col-xs-4 col-md-offset-1">	
	<h4>Nombre</h4>
	<div class="panel-body">
		<form role="form_1" name="form_1" novalidate>
			<div class="form-horizontal">
				<div class="panel-body">
					<div class="input-group" style="margin-bottom:10px">						
						<span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
						<input type="text" class="form-control" placeholder="Nombre"  ng-model="name.name" required />		
					</div>
					<h5>Contraseña</h5>
					<div class="input-group" style="margin-bottom: 10px">
						<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
						<input type="password" class="form-control" placeholder="Contraseña original" ng-model="name.pass" required />		
					</div>
					<button type="submit" class="btn btn-lg btn-primary btn-block" style="margin-bottom: 10px"  ng-disabled="form_1.$invalid" ng-click="nombre(name)">Modificar</button>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- Cambiar apellido -->
<div class="panel panel-default col-xs-4 col-md-offset-1">	
	<h4>Apellido</h4>
	<div class="panel-body">
		<form role="form_2" name="form_2" novalidate>
			<div class="form-horizontal">
				<div class="panel-body">
					<div class="input-group" style="margin-bottom:10px">						
						<span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
						<input type="text" class="form-control" placeholder="Apellidos" ng-model="apelllido.apellido" required />		
					</div>
					<h5>Contraseña</h5>
					<div class="input-group" style="margin-bottom: 10px">
						<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
						<input type="password" class="form-control" placeholder="Contraseña original" ng-model="apellido.pass" required />		
					</div>
					<button type="submit" class="btn btn-lg btn-primary btn-block" style="margin-bottom: 10px"  ng-disabled="form_2.$invalid" ng-click="apellido(apellido)">Modificar</button>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- Cambiar Telefono -->
<div class="panel panel-default col-xs-4 col-md-offset-1">	
	<h4>Teléfono</h4>
	<div class="panel-body">
		<form role="form_3" name="form_3" novalidate>
			<div class="form-horizontal">
				<div class="panel-body">
					<div class="input-group" style="margin-bottom:10px">						
						<span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
						<input type="text" class="form-control" placeholder="Teléfono" ng-model="tlf.tlf" required />		
					</div>
					<h5>Contraseña</h5>
					<div class="input-group" style="margin-bottom: 10px">
						<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
						<input type="password" class="form-control" placeholder="Contraseña original" ng-model="tlf.pass" required />		
					</div>
					<button type="submit" class="btn btn-lg btn-primary btn-block" style="margin-bottom: 10px"  ng-disabled="form_3.$invalid" ng-click="tlf(tlf)">Modificar</button>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- Cambiar Direccion -->
<div class="panel panel-default col-xs-4 col-md-offset-1">	
	<h4>Dirección</h4>
	<div class="panel-body">
		<form role="form_4" name="form_4" novalidate>
			<div class="form-horizontal">
				<div class="panel-body">
					<div class="input-group" style="margin-bottom:10px">						
						<span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
						<input type="text" class="form-control" placeholder="Direccion" ng-model="direccion.direccion" required />		
					</div>
					<h5>Contraseña</h5>
					<div class="input-group" style="margin-bottom: 10px">
						<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
						<input type="password" class="form-control" placeholder="Contraseña original" ng-model="direccion.pass" required />		
					</div>
					<button type="submit" class="btn btn-lg btn-primary btn-block" style="margin-bottom: 10px"  ng-disabled="form_4.$invalid" ng-click="direccion(direccion)">Modificar</button>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- Cambiar Email -->
<div class="panel panel-default col-xs-4 col-md-offset-1">	
	<h4>Email</h4>
	<div class="panel-body">
		<form role="form_5" name="form_5" novalidate>
			<div class="form-horizontal">
				<div class="panel-body">
					<div class="input-group" style="margin-bottom:10px">						
						<span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
						<input type="email" class="form-control" placeholder="Direccion" ng-model="email.email" required />		
					</div>
					<h5>Contraseña</h5>
					<div class="input-group" style="margin-bottom: 10px">
						<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
						<input type="password" class="form-control" placeholder="Contraseña original" ng-model="email.pass" required />		
					</div>
					<button type="submit" class="btn btn-lg btn-primary btn-block" style="margin-bottom: 10px"  ng-disabled="form_5.$invalid" ng-click="email(email)">Modificar</button>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- Cambiar Contraseña -->
<div class="panel panel-default col-xs-4 col-md-offset-1">	
	<h4>Email</h4>
	<div class="panel-body">
		<form role="form_6" name="form_6" novalidate>
			<div class="form-horizontal">
				<div class="panel-body">
					<h5>Contraseña nueva</h5>
					<div class="input-group" style="margin-bottom:10px">						
						<span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
						<input type="password" class="form-control" placeholder="Contraseña" ng-model="pass.pass_1" required />		
					</div>
					<h5>Repita su contraseña</h5>
					<div class="input-group" style="margin-bottom:10px">						
						<span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
						<input type="password" class="form-control" placeholder="Repita su contraseña" ng-model="pass.pass_2" required />		
					</div>
					<h5>Contraseña Vieja</h5>
					<div class="input-group" style="margin-bottom: 10px">
						<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
						<input type="password" class="form-control" placeholder="Contraseña original" ng-model="pass.pass_old" required />		
					</div>
					<button type="submit" class="btn btn-lg btn-primary btn-block" style="margin-bottom: 10px"  ng-disabled="form_6.$invalid" ng-click="pass(pass)">Modificar</button>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- Borrar cuenta -->
<div class="panel panel-default col-xs-9 col-md-offset-1">	
	<h4>Borar cuenta</h4>
	<div class="panel-body">
		<form role="form_7" name="form_7" novalidate>
			<div class="form-horizontal">
				<div class="panel-body">
					<h5>Contraseña</h5>
					<div class="input-group" style="margin-bottom: 10px">
						<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
						<input type="password" class="form-control" placeholder="Contraseña original" ng-model="delete.pass" required />		
					</div>
					<button type="submit" class="btn btn-lg btn-danger btn-block" style="margin-bottom: 10px"  ng-disabled="form_7.$invalid" ng-click="delete_(delete)">Borrar contraseña</button>
				</div>
			</div>
		</form>
	</div>
</div>
