<!-- Si el usuario tiene comentarios -->
<div class="panel panel-default widget col-md-offset-3 col-xs-6" style="margin-top: 25px">
	<div class="panel-heading row">
		<h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span>Recent Comments</h3>			
	</div>
	<div ng-repeat="com in comment"  class="panel-body" ng-show="hayCom()">
		<ul class="list-group">
			<li class="list-group-item">
				<div>
					<h4>{{com.titulo}}</h4>
					<h4><a href="#/resultado/{{com.imdbID}}">{{com.serie}}</a></h4>
					<h6>{{com.usuario}}, {{com.fecha}} </h6>
					<div class="panel-default panel">
						<p align="justify" style="margin: 10px"> {{com.texto}}</p>
					</div>
				</div>
				<div class="action" ng-show="modifyComment(com)">
					<button type="button" class="btn btn-primary btn-xs" title="Edit" ng-click="mostrar = !mostrar">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
					<button type="button" class="btn btn-danger btn-xs" title="Delete" ng-click="deleteComment(com)">
                    	<span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <!-- modificar el comentario -->
					<div class="panel panel-default list-group-item" ng-show="mostrar" role="mForm" name="mForm" novalidate>
						<div class="form-horizontal">
							<div class="input-group col-xs-12" style="margin-bottom: 10px; margin-top: 10px">
								<h4>Modifique su comentario</h4>		
							</div>
							<div class="input-group col-xs-6" style="margin-top: 10px">	
								<textarea type="text" class="form-control" rows="1" placeholder="Titulo" ng-model="modificar.titulo" required></textarea>	
							</div>
							<div class="input-group col-xs-12" style="margin-bottom: 10px; margin-top: 10px">	
								<textarea type="text" class="form-control" rows="3" placeholder="Escriba su comentario" ng-model="modificar.texto" required></textarea>		
							</div>
							<div class="col-md-offset-8 col-md-4">
								<button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="mForm.$invalid" style="margin-bottom: 10px" ng-click="modificarComentario(modificar, com)">Modificar</button>
							</div>
							<br/>
							<br/>
							<br/>
						</div>
					</div>                    
               </div>
			</li>
		</ul>			
	</div>
	<div class="panel panel-default widget col-md-offset-3 col-xs-6" style="margin-top: 25px" ng-hide="hayCom()">
		<h2 align="center">Escriba un comentario en alguna pelicula o serie</h2>
	</div>
</div>
