<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="container">
		<header class="major">
			<h2>Amazop</h2>
			<p>Your Amazing Shopping WebSite</p>
		</header>
		<h3 class="popular" style="text-align:left">
			<a href="/">Home</a>
			<span> > </span>
			<a href="/">Mas Popular</a>
			<span> > Producto 1</span> <!-- TIENE QUE ESTAR CARGADO SEGUN LA VARIABLE CORRESPONDIENTE!!! -->
		</h3>
			<section class="box">
				<h2>Producto 1</h2>
				<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
				<div class="6u 12u$(medium)">
					<img class="image fit" src="images/profile_placeholder.gif" />
				</div>
				<div class="6u 12u$(medium)">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi aliquid.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi aliquid.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quam consectetur quibusdam magni minus aut modi aliquid.</p>
				</div>
			</section>
	</div>
</section>


