<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SingUp</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/skel.min.js"></script>
    <script src="javascripts/skel-layers.min.js"></script>
    <script src="javascripts/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="stylesheets/skel.css" />
        <link rel="stylesheet" href="public/stylesheets/style.css" />
        <link rel="stylesheet" href="stylesheets/style-xlarge.css" />
    </noscript>
</head>
<body>

<!-- Header -->
<!-- Header -->
<header id="header">
    <h1><a href="Main.html">Amazop</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="Main.html">Home</a></li>
            <li>Categorias</li>
            <li>Elements</li>
            <li><a href="SignUp.html" class="button special">Sign Up</a></li>
        </ul>
    </nav>
</header>

<!-- Three -->
<section id="three" class="wrapper style3 special">
    <div class="container">
        <header class="major">
            <h2>Registro de nuevo usuario</h2>
            <p>Rellene los campos para completar el registro</p>
        </header>
    </div>

    <div class="container 50%" >
        <form action="#" method="post">
            <div class="row uniform">
                <div class="2u 12u$(small)" style="text-align:right">
                    <label for="email" style="color:#FFFFFF"> Email:</label>
                </div>
                <div class="10u$ 12u$(small)">
                    <input name="email" id="email" value="" placeholder="Email" type="text">
                </div>

                <div class="2u 12u$(small)" style="text-align:right">
                    <label for="name" style="color:#FFFFFF"> Nombre y apellidos:</label>
                </div>
                <div class="5u 12u$(small)">
                    <input name="name" id="name" value="" placeholder="Nombre" type="text">
                </div>
                <div class="5u$ 12u$(small)">
                    <input name="surName" id="surName" value="" placeholder="Apellidos" type="text">
                </div>

                <div class="2u 12u$(small)" style="text-align:right">
                    <label for="pass" style="color:#FFFFFF"> Contraseña:</label>
                </div>
                <div class="5u 12u$(small)">
                    <input name="pass" id="pass" value="" placeholder="Contraseña" type="password">
                </div>
                <div class="5u$ 12u$(small)">
                    <input name="rePass" id="rePass" value="" placeholder="Repita la contraseña" type="password">
                </div>

                <div class="2u 12u$(small)" style="text-align:right">
                    <label style="color:#FFFFFF"> Sexo:</label>
                </div>
                <div class="5u 12u$(small)">
                    <input  id="male" type="radio" style="before:background:#ffffff" name="sex" value="H"/>
                    <label for="male" style="color:#ffffff"> Hombre</label>
                </div>
                <div class="5u$ 12u$(small)">
                    <input id="female" type="radio" name="sex" value="M"/>
                    <label for="female" style="color:#ffffff"> Mujer</label>
                </div>

                <div class="2u 12u$(small)" style="text-align:right">
                    <label for="info" style="color:#ffffff"> Información personal:</label>
                </div>
                <div class="10u 12u$(small)">
                    <textarea name="info" id="info" placeholder="Introduzca aquí información personal"></textarea>
                </div>

                <div class="12u$">
                    <ul class="actions">
                        <li><input value="Enviar" class="special big" type="submit"></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <p>¿Ya tienes una cuenta? <a href="SignIn.html"> <u>Inicia sesión</u></a></p>

</section>
