<div>
<!-- Three -->
<section id="three" class="wrapper style3 special">
    <div class="container">
        <header class="major">
            <h2>Consectetur adipisicing elit</h2>
            <p>Lorem ipsum dolor sit amet. Delectus consequatur, similique quia!</p>
        </header>
    </div>
    <div class="container 50%">
        <form action="#" method="post">
            <div class="row uniform">
                <div class="6u 12u$(small)">
                    <input name="usuario" id="name" value="" placeholder="Usuario" type="text">
                </div>
                <div class="6u$ 12u$(small)">
                    <input name="contraseña" id="password" value="" placeholder="Contraseña" type="text">
                </div>
                <div class="12u$">
                    <ul class="actions">
                        <li><input value="Register" class="special big" type="submit"></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</section>
</div>