<!DOCTYPE html>
<!--
  SOLO PARA EL SERVER
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SingUp</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="public/javascripts/jquery.min.js"></script>
    <script src="public/javascripts/skel.min.js"></script>
    <script src="public/javascripts/skel-layers.min.js"></script>
    <script src="public/javascripts/init.js"></script>
    <noscript>
        <link rel="stylesheet" href="public/stylesheets/skel.css" />
        <link rel="stylesheet" href="public/stylesheets/style.css" />
        <link rel="stylesheet" href="public/stylesheets/style-xlarge.css" />
    </noscript>
</head>
<body>

<!-- Header -->
<header id="header">
    <h1><a href="Main.html">Amazop</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="Main.html">Home</a></li>
            <li>Categorias</li>
            <li>Elements</li>
            <li><a href="SignUp.html" class="button special">Sign Up</a></li>
        </ul>
    </nav>
</header>


<!-- Three -->
<section id="three" class="wrapper style3 special">
    <div class="container">
        <header class="major">
            <h2>Iniciar Sesión</h2>
        </header>
    </div>

    <div class="container 50%" >
        <form action="#" method="post">
            <div class="row uniform">
                <div class="6u 12u$(small)">
                    <input name="email" id="email" value="" placeholder="Email" type="text">
                </div>
                <div class="6u 12u$(small)">
                    <input name="pass" id="pass" value="" placeholder="Contraseña" type="password">
                </div>

                <div class="12u$">
                    <ul class="actions">
                        <li><input value="Enviar" class="special big" type="submit"></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <p>Si no tienes una cuenta puedes registrarte <a href="SignUp.html"><u>aquí</u></a></p>

</section>
